# Local
FOOTBALL_PREDICTOR_DB_PATH=data/football_predictor.sqlite

# Produccion con disco persistente, por ejemplo Render:
# FOOTBALL_PREDICTOR_DB_PATH=/var/data/football_predictor.sqlite

API_FOOTBALL_KEY=
FOOTBALL_DATA_ORG_TOKEN=
THESPORTSDB_API_KEY=3
